#backgroundImage {
   background-image:url(/images/coffeekitty.jpg);
  height: 485px;
  width:468px;
  display: block;
  margin: auto;
  /*display:none;*/
  overflow: hidden;
  border: 3px solid silver;
}



.floating-box {
    float:right;
     width:  150px;
    height: 75px;
    border: 3px solid white;
    display:inline-block;
    background-color:white;
}


/*.hidden>div {
    display:none;
}

.visible>div {
    display:block;
}*/

#uiControls{

  float:right;
  padding 20px;
}
